@model RxAdmin.Models.Rx

@{
    ViewData["Title"] = "Prescription Details";
}

<h2>Prescription Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            Patient ID
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.ID)
        </dd>
        <dt>
            Medication
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RxName)
        </dd>
        <dt>
            Dosage
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RxDose)
        </dd>       
        <dt>
           Date Filled
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FillDate)
        </dd>
        <dt>
            Refill Date
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefillDate)
        </dd> 
        <dt>
            Text Reminder
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            Email Reminder
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
