@model IEnumerable<RxAdmin.Models.Rx>

@{
    ViewData["Title"] = "Index";
}

<h2>Medications</h2>



<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Patient ID</th>
            <th>Medication</th>
            <th>Dosage</th>
            <th>Date Filled</th>
            <th>Refill Date</th>
            <th>Text Reminder</th>
            <th>Email Reminder</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RxName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RxDose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FillDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefillDate)
            </td>                        
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>           
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}   
        
    </tbody>
</table>
<p>
    <a asp-action="Create">Add New Medication</a>
</p>
